h1{
    color: red;
 }

 #big-container {
    background-color: blue;
    padding: 5%;
 }
 #brown-div{
    background-color: brown;
    padding: 5%;
    margin-bottom: 30px;
 }
 #aqua-div{
    background-color: aquamarine;
    padding: 5%;

 }